/* Font families
  Archivo
  Inter
  Montserrat
  Open Sans
*/
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
    font-family: "Archia";
    src: url('./../assets/fonts/Archia-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }

  /* Target the entire scrollbar (for WebKit browsers) */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Target the scrollbar track */
  ::-webkit-scrollbar-track {
    background-color: #f0f0f0;
  }

  /* Target the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: theme('colors.background.dark');
  }

  body {
    font-family: "Archivo", sans-serif;
  }

  .custom-container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  .container-small {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .bg-gradient-dark {
    background-image: linear-gradient(3.95deg, #82e8f2 -19.7%, #1d2025 96.77%);
  }
}